/*  author: Bekir Ozgunlu
	date  : March 2013
*/
<style type="text/css">

body {
	font-family: Tahoma, Arial, sans-serif;
	color: black;
	background: white;
	margin: 8px;
}
input[type="text"]{	
	text-align:left;
	width: 200px;			
	border: 1px solid #f1eeee;	
	background: #f1eeee;
	font-family: 'trebuchet ms', helvetica, sans-serif;
	font-style: normal;
	font-size: 14px;
	color: #311c1c;
}
input[type="text"]:focus {
	border: 1px solid #FFFFFF;	
	background: no-repeat #FFFFFF;
	color: #454743;
}
td[class="edge"]{
	width: 350px;	
}
td[class="center"]{
	width: 600px;	
	background: #c0e3fc;
	padding:12px;
	border-radius:14px;
}
img[id = userimage]{
	width: 72;
	height: 72;		
}
tr[class="row"]{
	height: 80;		
}
tr[class="child_row"]{
	text-align: left;	
}
td[class="info"]{
	height: 72;	
	text-align: left;
}
td[class="image"]{
	text-align: left;
}
.search_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:2px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:15px;
	font-weight:bold;
	padding:2px 14px;
	text-decoration:none;
	text-shadow:1px -2px 0px #528ecc;
}.search_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.search_button:active {
	position:relative;
	top:1px;
}
a:link {
color:#cc0000; font-size:14px; text-decoration:none
}

a:hover {
color:#0066cc; font-size:14px; text-decoration:underline
}
</style>
